.toggle-btn{
    height:24px;
    width: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding:0;
    box-sizing: border-box;
    margin-left: 1.5rem;
}

.toggle-btn:focus{
    outline: none;
}

.toggle-btn-line{
    background: white;
    width: 30px;
    height: 2px;
}